<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:data="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
>

	<context:component-scan base-package="org.happyreaction.services" >
		<context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
	</context:component-scan>
	<data:repositories base-package="org.happyreaction.repositories" factory-class="org.happyreaction.repositories.custom.DefaultRepositoryFactoryBean" />

	<!-- Data Source Declaration -->
	<bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${filtered.database.driverClassName}" />
		<property name="jdbcUrl" value="${filtered.database.url}" />
		<property name="user" value="${filtered.database.username}" />
		<property name="password" value="${filtered.database.password}" />
		<property name="minPoolSize" value="${filtered.c3p0.minPoolSize}" />
		<property name="maxPoolSize" value="${filtered.c3p0.maxPoolSize}" />
		<property name="maxStatements" value="${filtered.c3p0.maxStatements}" />
	</bean>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	    <property name="persistenceUnitName" value="persistenceUnit" />
	    <property name="packagesToScan" value="org.happyreaction.model" />
	    <property name="dataSource" ref="DataSource"/>
	    <property name="jpaVendorAdapter">
	      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
	         <property name="showSql" value="true" />
	      </bean>
	   </property>
	</bean>

	<!-- Enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- Transaction Manager is defined -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		 <property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>
	
</beans>